.header {
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;

    background-color: rgb(55, 150, 131);
    border-width: 2px;
    border-color: rgb(5, 56, 107);

    padding-left: 50px;
    padding-right: 50px;
}

.user, .graduation, .briefcase, .phone {
    width: 50px;
}

.user-button, .graduation-button, .briefcase-button, .phone-button {
    background-color: rgb(55, 150, 131);
    border: none;
    cursor: pointer;
    width: 50px;
    border-radius: 25px;
    }

.user-button:hover, .graduation-button:hover, .briefcase-button:hover, .phone-button:hover {
    background-color: rgb(44, 123, 107);
}
