.header {
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;

    background-color: rgb(55, 150, 131);
    border-width: 2px;
    border-color: rgb(5, 56, 107);

    padding-left: 20px;
}

.left-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
    margin: 0;
}

.user, .graduation, .briefcase, .phone {
    height: 40px;;
}

.user-button, .graduation-button, .briefcase-button, .phone-button {
    display: flex;
    align-items: center;
    margin-top: 25px;
    background-color: rgb(55, 150, 131);
    border: none;
    cursor: pointer;
    height: 50px;
    border-radius: 25px;
    position: relative;
    }

.user-button .tooltip, .graduation-button .tooltip, .briefcase-button .tooltip, .phone-button .tooltip {
    position: absolute;
    background-color: rgb(5, 56, 107);
    color: rgb(237 ,245 ,225);
    right: -70px;
    padding: 6px;
    border-radius: 8px;

    opacity: 0;
    transition: opacity 0.15s;
    pointer-events: none;
    white-space: nowrap;
    font-size: 14px;
}

.user-button:hover .tooltip, .graduation-button:hover .tooltip, .briefcase-button:hover .tooltip, .phone-button:hover .tooltip {
    opacity: 1;
}



.right.section {
    display: flex;
    width: 1fr;
}
